@charset "UTF-8";
/* FUENTE por si no linkea bien
@import url(https://fonts.googleapis.com/css?family=Raleway); */
/* Margenes de secciones top y bottom */
/* Propiedes imagen background fixed */
/* Opacidad negra sobre im├ígenes */
/* L├¡neas hr y color */
/* Grey icons */
* {
  font-family: "Raleway"; }

h2 {
  font-weight: bold;
  white-space: pre-line; }

p {
  font-size: 12px;
  margin-bottom: 50px; }

a:hover, .fa:hover {
  color: #272727;
  cursor: pointer; }

/* header y nav */
.navbar {
  border-radius: 0px;
  margin-bottom: -20px;
  width: 100%;
  position: fixed;
  z-index: 1; }
  .navbar .navbar-header .navbar-brand img {
    width: 35px;
    height: 35px;
    margin: -5px 5px 0px 0px;
    display: inline; }

/* imagen portada */
.portada body {
  margin: 0; }
.portada .fondo {
  background-size: cover; }
.portada .fondo-fixed {
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: center center; }
.portada .modulo-alto {
  min-height: 100vh; }
.portada .fondo-1 {
  background-image: url(../images/back-lock.jpg); }
.portada .black-bg {
  padding: 200px 100px;
  background: rgba(3, 3, 3, 0.51);
  background: -moz-linear-gradient(left, rgba(3, 3, 3, 0.51) 0%, rgba(0, 0, 0, 0.45) 100%);
  background: -webkit-gradient(left top, right top, color-stop(0%, rgba(3, 3, 3, 0.51)), color-stop(100%, rgba(0, 0, 0, 0.45)));
  background: -webkit-linear-gradient(left, rgba(3, 3, 3, 0.51) 0%, rgba(0, 0, 0, 0.45) 100%);
  background: -o-linear-gradient(left, rgba(3, 3, 3, 0.51) 0%, rgba(0, 0, 0, 0.45) 100%);
  background: -ms-linear-gradient(left, rgba(3, 3, 3, 0.51) 0%, rgba(0, 0, 0, 0.45) 100%);
  background: linear-gradient(to right, rgba(3, 3, 3, 0.51) 0%, rgba(0, 0, 0, 0.45) 100%);
  min-height: 100vh;
  color: white; }
  .portada .black-bg h1 {
    font-size: 50px; }
  .portada .black-bg p {
    font-size: 20px; }

/* im├ígenes y textos */
#texto {
  margin: 150px 0px; }
  #texto hr {
    background-color: #272727;
    border: 2px solid #272727;
    width: 40px;
    margin-left: 0px;
    margin-bottom: 50px; }
  #texto .icons {
    font-size: 50px;
    margin-top: 20px;
    color: grey;
    opacity: 0.5; }

/* My title */
#mytitle body {
  margin: 0; }
#mytitle .fondo {
  background-size: cover; }
#mytitle .fondo-fixed {
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: center center; }
#mytitle .modulo-alto {
  min-height: 100vh; }
#mytitle .fondo-2 {
  background-image: url(../images/bg3.jpg); }
#mytitle .black-bg {
  background: rgba(3, 3, 3, 0.51);
  background: -moz-linear-gradient(left, rgba(3, 3, 3, 0.51) 0%, rgba(0, 0, 0, 0.45) 100%);
  background: -webkit-gradient(left top, right top, color-stop(0%, rgba(3, 3, 3, 0.51)), color-stop(100%, rgba(0, 0, 0, 0.45)));
  background: -webkit-linear-gradient(left, rgba(3, 3, 3, 0.51) 0%, rgba(0, 0, 0, 0.45) 100%);
  background: -o-linear-gradient(left, rgba(3, 3, 3, 0.51) 0%, rgba(0, 0, 0, 0.45) 100%);
  background: -ms-linear-gradient(left, rgba(3, 3, 3, 0.51) 0%, rgba(0, 0, 0, 0.45) 100%);
  background: linear-gradient(to right, rgba(3, 3, 3, 0.51) 0%, rgba(0, 0, 0, 0.45) 100%);
  min-height: 100vh;
  color: white; }
  #mytitle .black-bg .text-zone {
    margin: 150px 0px; }
    #mytitle .black-bg .text-zone hr {
      background-color: white;
      border: 2px solid white;
      width: 40px;
      margin-left: 0px;
      margin-bottom: 50px; }

/* Algo que me define */
#define {
  margin: 150px 0px; }
  #define hr {
    background-color: #272727;
    border: 2px solid #272727;
    width: 40px;
    margin-left: 0px;
    margin-bottom: 50px; }
  #define .img-box {
    height: 290px;
    width: 290px; }
    #define .img-box img {
      width: inherit;
      height: inherit; }
      #define .img-box img:hover {
        opacity: 0.6;
        cursor: pointer; }
  #define .text-box {
    height: 290px;
    width: 290px;
    padding: 30px 30px 0px 30px; }
    #define .text-box p {
      margin-bottom: 20px; }
    #define .text-box i {
      color: grey;
      margin: 0px 5px 10px 5px; }
      #define .text-box i:hover {
        color: #272727;
        cursor: pointer; }

/* Best Offers */
#planes hr {
  background-color: #272727;
  border: 2px solid #272727;
  width: 40px;
  margin-left: 0px;
  margin-bottom: 50px; }
#planes .box {
  width: 100%;
  height: auto;
  background-color: #f8f8f8;
  padding-top: 10px;
  border: 2px solid #f8f8f8;
  overflow: hidden;
  display: block;
  -webkit-transition: border 500ms ease-out;
  -moz-transition: border 500ms ease-out;
  -o-transition: border 500ms ease-out;
  transition: border 500ms ease-out; }
  #planes .box:hover {
    border: 2px solid #272727;
    cursor: pointer; }
  #planes .box h2 {
    color: grey;
    font-weight: bold; }
  #planes .box h1 {
    font-size: 50px;
    margin-bottom: 20px; }
    #planes .box h1 span {
      font-size: 25px; }
  #planes .box .box1 {
    margin-left: 0px; }
  #planes .box .mini-box {
    width: 48%;
    height: 120px;
    border-left: 1px solid silver;
    border-top: 1px solid silver;
    padding-top: 20px; }
    #planes .box .mini-box:first-child {
      border-left: none; }
    #planes .box .mini-box i {
      font-size: 40px;
      margin-bottom: 10px;
      color: grey; }
  #planes .box .order {
    background-color: #272727;
    width: inherit;
    height: 40px;
    color: white;
    padding-top: 10px;
    font-weight: bold;
    font-size: 12px; }

/* Contact us */
#contact {
  margin: 150px 0px; }
  #contact hr {
    background-color: #272727;
    border: 2px solid #272727;
    width: 40px;
    margin-left: 0px;
    margin-bottom: 50px; }
  #contact form input, #contact form textarea {
    margin-bottom: 30px;
    border-radius: 0px;
    width: 90%; }
  #contact form button {
    border-radius: 0px;
    background-color: #272727;
    border-color: #272727;
    margin-bottom: 50px; }
  #contact .aside p {
    margin-bottom: 30px; }
  #contact .aside .icons-up {
    margin-top: 10px; }
  #contact .aside .icons-down {
    margin-bottom: 10px; }
  #contact .aside i {
    margin-left: 15px;
    color: grey; }
    #contact .aside i:hover {
      color: #272727;
      cursor: pointer; }
  #contact .aside .panel-group .panel-default {
    border-color: transparent; }
    #contact .aside .panel-group .panel-default .panel-heading {
      background-color: transparent;
      border-bottom: 1px solid grey; }
      #contact .aside .panel-group .panel-default .panel-heading i {
        background-color: #272727;
        width: 20px;
        height: 20px;
        color: white;
        padding: 3px;
        margin: 5px 5px 5px 0px;
        text-align: center; }
      #contact .aside .panel-group .panel-default .panel-heading b {
        color: grey;
        font-size: 10px; }

/* Footer */
footer {
  background-color: #f8f8f8;
  padding: 20px 0px;
  color: grey; }
  footer .logo {
    width: 60px;
    height: 60px; }
  footer i {
    color: grey;
    margin: 0px 5px 10px 5px;
    margin-top: 20px; }
  footer a {
    color: black;
    text-decoration: underline; }

/* RESPONSIVE Small devices */
@media (max-width: 520px) and (min-width: 320px) {
  #texto, #define, #planes, #contact {
    margin: 50px 0px; }

  #mytitle .black-bg .text-zone {
    margin: 50px 0px; }

  .portada .black-bg {
    padding: 200px 20px; }
    .portada .black-bg h1 {
      font-size: 30px; }
    .portada .black-bg p {
      font-size: 14px; }

  #mytitle iframe {
    width: 100%;
    height: 100%; }

  #define .img-box {
    height: 100%;
    width: 100%; }
  #define .text-box {
    height: 100%;
    width: 100%;
    margin-bottom: 30px; }

  #planes .box {
    margin-bottom: 20px; }
    #planes .box .box1 {
      width: 100%; }
      #planes .box .box1 .mini-box {
        float: left; }

  footer img {
    margin-bottom: 10px; }
  footer .text-center, footer .icons {
    text-align: left; } }
/* RESPONSIVE Medium devices */
@media (max-width: 1020px) and (min-width: 481px) {
  #texto, #define, #planes, #contact {
    margin: 50px 0px; }

  #mytitle .black-bg .text-zone {
    margin: 50px 0px; }

  #define .img-box {
    height: 100%;
    width: 100%; }
  #define .text-box {
    height: 100%;
    width: 100%;
    margin-bottom: 30px; }

  #planes .box {
    margin-bottom: 20px;
    width: 100%; }
    #planes .box .box1 {
      width: 100%; }
      #planes .box .box1 .mini-box {
        float: left; } }

/*# sourceMappingURL=main.css.map */
