/* Margenes de secciones top y bottom */
@mixin marginsections {
	margin: 150px 0px;
}


/* Propiedes imagen background fixed */
@mixin imagen-bg {
	body{
	  margin: 0;
	}
	.fondo{
	  background-size: cover;
	}
	.fondo-fixed{
	  background-attachment: fixed;
	  background-repeat: no-repeat;
	  background-position: center center;
	}
	.modulo-alto {
	  min-height: 100vh;
	}
}


/* Opacidad negra sobre imágenes */
@mixin black-bg {
	background: rgba(3,3,3,0.51);
	background: -moz-linear-gradient(left, rgba(3,3,3,0.51) 0%, rgba(0,0,0,0.45) 100%);
	background: -webkit-gradient(left top, right top, color-stop(0%, rgba(3,3,3,0.51)), color-stop(100%, rgba(0,0,0,0.45)));
	background: -webkit-linear-gradient(left, rgba(3,3,3,0.51) 0%, rgba(0,0,0,0.45) 100%);
	background: -o-linear-gradient(left, rgba(3,3,3,0.51) 0%, rgba(0,0,0,0.45) 100%);
	background: -ms-linear-gradient(left, rgba(3,3,3,0.51) 0%, rgba(0,0,0,0.45) 100%);
	background: linear-gradient(to right, rgba(3,3,3,0.51) 0%, rgba(0,0,0,0.45) 100%);
  	min-height: 100vh;
  	color: white;
}


/* Líneas hr y color */
@mixin linea ($color) {
	hr {
		background-color: $color;
		border: 2px solid $color;
		width: 40px;
		margin-left: 0px;
		margin-bottom: 50px;
	}
}


/* Grey icons */
@mixin grey-icons {
	color: grey;
	margin: 0px 5px 10px 5px;
}
