/* RESPONSIVE Small devices */
@media (max-width: 520px) and (min-width: 320px) { 
	#texto, #define, #planes, #contact {
		margin: 50px 0px;
	}

	#mytitle {
		.black-bg {
			.text-zone {
				margin: 50px 0px;
			}
		}
	}

	.portada {
		.black-bg {
			padding: 200px 20px;
			h1 {
			font-size: 30px;
			}
			p {
				font-size: 14px;
			}
		}
	}

	#mytitle {
		iframe {
			width: 100%;
			height: 100%;
		}
	}

	#define {
		.img-box {
			height: 100%;
			width: 100%;
		}
		.text-box {
			height: 100%;
			width: 100%;
			margin-bottom: 30px;
		}
	}

	#planes {
		.box {
			margin-bottom: 20px;
			.box1 {
				width: 100%;
				.mini-box {
					float: left;
				}
			}
		}
	}

	footer {
		img {
			margin-bottom: 10px;
		}
		.text-center, .icons {
			text-align: left;
		}
	}
}


/* RESPONSIVE Medium devices */
@media (max-width: 1020px) and (min-width: 481px) {
	#texto, #define, #planes, #contact {
		margin: 50px 0px;
	}

	#mytitle {
		.black-bg {
			.text-zone {
				margin: 50px 0px;
			}
		}
	}

	#define {
		.img-box {
			height: 100%;
			width: 100%;
		}
		.text-box {
			height: 100%;
			width: 100%;
			margin-bottom: 30px;
		}
	}

	#planes {
		.box {
			margin-bottom: 20px;
			width: 100%;
			.box1 {
				width: 100%;
				.mini-box {
					float: left;
				}
			}
		}
	}
}