* {
	font-family: 'Raleway'
}

h2 {
	font-weight: bold;
	white-space: pre-line;
}

p {
	font-size: 12px;
	margin-bottom: 50px;
}

a:hover, .fa:hover {
	color: $negro;
	cursor: pointer;
}


/* header y nav */
.navbar {
	border-radius: 0px;
	margin-bottom: -20px;
	width: 100%;
	position: fixed;
	z-index: 1;
	.navbar-header {
		.navbar-brand {
			img {
				width: 35px;
				height: 35px;
				margin: -5px 5px 0px 0px;
				display: inline;
			}
		}
	}
}


/* imagen portada */
.portada {
	@include imagen-bg;
	.fondo-1 {
	  background-image: url(../images/back-lock.jpg);
	}
	.black-bg {
		padding: 200px 100px;
		@include black-bg;
		h1 {
			font-size: 50px;
		}
		p {
			font-size: 20px;
		}
	}
}
	

/* imágenes y textos */
#texto {
	@include marginsections;
	@include linea ($negro);
	.icons {
		font-size: 50px;
		margin-top: 20px;
		color: grey;
		opacity: 0.5;
	}
}


/* My title */
#mytitle {
	@include imagen-bg;
	.fondo-2 {
	  background-image: url(../images/bg3.jpg);
	}
	.black-bg {
		@include black-bg;
		.text-zone {
			@include marginsections;
			@include linea (white);
		}
	}
}


/* Algo que me define */
#define {
	@include marginsections;
	@include linea ($negro);
	.img-box {
		height: 290px;
		width: 290px;
		img {
			width: inherit;
			height: inherit;
			&:hover {
				opacity: 0.6;
				cursor: pointer;
			}
		}
	}
	.text-box {
		height: 290px;
		width: 290px;
		padding: 30px 30px 0px 30px;
		p {
			margin-bottom: 20px;
		}
		i {
			@include grey-icons;
			&:hover {
				color: $negro;
				cursor: pointer;
			}
		}
	}
}



/* Best Offers */
#planes {
	@include linea ($negro);
	.box {
		width: 100%;
		height: auto;
		background-color: $soft-gris;
		padding-top: 10px;
		border: 2px solid $soft-gris;
		overflow: hidden;
		display: block;
		-webkit-transition : border 500ms ease-out;
		-moz-transition : border 500ms ease-out;
		-o-transition : border 500ms ease-out;
		transition : border 500ms ease-out;
		&:hover {
			 border : 2px solid ($negro); 
			 cursor: pointer; 
		}
		h2 {
			color: grey;
			font-weight: bold;
		}
		h1 {
			font-size: 50px;
			margin-bottom: 20px;
			span {
				font-size: 25px;
			}
		}
		.box1 {
			margin-left: 0px;
		}
		.mini-box {
			width: 48%;
			height: 120px;
			border-left: 1px solid silver;
			border-top: 1px solid silver;
			padding-top: 20px;
			&:first-child {
				border-left: none;
			}
			i {
				font-size: 40px;
				margin-bottom: 10px;
				color: grey;
			}
		}
		.order {
			background-color: $negro;
			width: inherit;
			height: 40px;
			color: white;
			padding-top: 10px;
			font-weight: bold;
			font-size: 12px;
		}
	}
}



/* Contact us */
#contact {
	@include marginsections;
	@include linea ($negro);
	form {
		input, textarea {
			margin-bottom: 30px;
			border-radius: 0px;
			width: 90%;
		}
		button {
			border-radius: 0px;
			background-color: $negro;
			border-color: $negro;
			margin-bottom: 50px;
		}
	}
	.aside {
		p {
			margin-bottom: 30px;
		}
		.icons-up {
			margin-top: 10px;
		}
		.icons-down {
			margin-bottom: 10px;
		}
		i {
			margin-left: 15px;
			color: grey;
			&:hover {
				color: $negro;
				cursor: pointer;
			}
		}
		.panel-group {
			.panel-default {
				border-color: transparent;
				.panel-heading {
					background-color: transparent;
					border-bottom: 1px solid grey;
					i {
						background-color: $negro;
						width: 20px;
						height: 20px;
						color: white;
						padding: 3px;
						margin: 5px 5px 5px 0px;
						text-align: center;
					}
					b {
						color: grey;
						font-size: 10px;
					}
				}
			}
		}
	}
		
}



/* Footer */
footer {
	background-color: $soft-gris;
	padding: 20px 0px;
	color: grey;
	.logo {
		width: 60px;
		height: 60px;
	}
	i {
		@include grey-icons;
		margin-top: 20px;
	}
	a {
		color: black;
		text-decoration: underline;
	}
}
